<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Signup </title>
</head>
<body>
<h1> _Signup Form_ </h1>

<from action="/users" mathod="post">
   
    <label for="name"> Full Name: </label>
    <input type="text" required name = "name" /><br><br>
    <label for="name"> Email: </label>
    <input type="text" required name = "email" /><br><br>
    <label for="name"> Password: </label>
    <input type="text" required name = "password" /><br><br>
    <button type="submit">SignUp</button>
</from>

    
</body>
</html>